#canvas-env {
    height:90vh;
    width: 100%;
}

#canvas {
    margin: 20px;
    position: relative;

    width: 800px;
    height: 400px;

    background-color: rgb(243, 243, 243);

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#window-configs {
    margin: 20px;
    padding: 10px;

    border-radius: 5px;

    width: fit-content;

    background-color: rgb(172, 172, 172);
    
}

#window-configs-button {
    font-weight: bold;
}